@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --putih: #FBFFFE;
    --hitam: #1B1B1E;
    --oren: #D8572A;
    --krim: #ffeaae;

  }

body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    font-family: 'Poppins',sans-serif;
    background-color: var(--putih);
    
}

p {
    font-size: 120%; 
}

h1 {
    color: var(--oren);
}

/* navbar start */
header.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 2px 24px;
    background-color: var(--krim);
    border-radius: 50px;
}

.nav-container > .menu {
    display: flex;
}


.logo-icon {
    padding: 5px 0 5px  0;
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.logo-text {
    text-decoration: none;
    font-size: 150%;
    vertical-align: middle;
    padding-left: 5px;
    font-weight: 600;
    color: var(--oren);
}

a.nav-text {
    color: var(--hitam);
    text-decoration: none;
    margin: 0 30px 0 30px;
    font-weight: 600;
    font-size: 100%;
}


/* navbar end */


/* home start */
section.home {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: left;
    padding: 20px;
    margin-bottom: 40px;
}

section.home > div {
    margin-right: 2px;
}

section.home > div > h1 {
    font-size: 150%;
}


b {
    color: var(--oren);
}

div.banner-container {
    width: 100%; 
    height: 500px;
    overflow: hidden;
    padding: 10px 0 0 20px; 
}

.banner-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 20px;
}
/* home end */

/* profile */
section.profile {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: left;
    padding: 20px;
    background-color: var(--krim);
    border-radius: 20px 20px 0 0;
}

.img-profile  img{
    width: 484px;
    height: 515px;
}

.profil-text h1 {
    font-size: 150%;
}

/* portofolio */
.portofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    background-color: var(--krim);
    border-radius:  0 0 20px 20px;
}

.portofolio-text {
    text-align: center;
    font-size: 200%;
    color: var(--oren); 
    margin-bottom: 2%;
}

.content-wrapper {
    display: flex;
    align-items: flex-start; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    margin: 0 30px 0 30px ;
}

.img-portofolio {
    align-self: center; 
}

.img-portofolio img {
    width: 100%; 
    max-width: 484px;
    height: auto; 
    border-radius: 30px;
}

.img-txt {
    flex: 1; 
    margin-left: 20px; 
}

.img-txt p {
    margin-top: 0; 
}

.content-wrapper2 {
padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-bottom: 5%;
}

.img-portofolio2 {
    flex:  0 0 43%; 
    margin-right: 20px; 
}

.img-portofolio2 img {
    width: 100%; 
    height: auto; 
    display: block;

}

.img-txt2 {
    flex: 1; 
}

.img-txt2 p {
    margin-bottom: 10px; 
}


/* message us */

.message {
    padding-top: 5%;
    padding-bottom: 5%;
}

.form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}
.form .form-container {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form .hasil {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: var(--oren);
}
label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: var(--oren);
}
input, textarea, select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
button {
    background-color: var(--oren);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
button:hover {
    background-color: var(--krim);
    color: var(--hitam);
}


/* footer */
footer {
    background-color: var(--oren);
    color: var(--krim);
    text-align: center;
    padding: 10px;
}


@media (max-width: 480px) {

        header.nav-container {
            flex-direction: column;
            padding: 10px;
        }
        
        
        div.banner-container {
            width: 120%; 
            height: 300px;
            overflow: hidden;
            
        }
        
        .banner-container img {
            width: 100%;
            height: auto; 
            object-fit: cover;
            border-radius: 20px;
        }
    
        section.home {
            flex-direction: column; 
            text-align: center; 
        }
    
        div.banner-container {
            height: auto; 
            padding: 0; 
        }

        .profile {
            flex-direction: column; 
            text-align: center; 
        }
    
        .img-profile {
            order: 2; 
        }
    
        .profile-text {
            order: 1; 
            padding-top: 20px; 
        }
    
        .img-profile img {
            width: 100%; 
            max-width: 300px; 
            height: auto; 
            display: block; 
            margin: 0 auto; 
        }

        .portofolio-text {
            font-size: 1.5em; 
        }
    
        .content-wrapper {
            flex-direction: column; 
            align-items: center; 
            margin: 0; 
        }
    
        .img-portofolio {
            margin-bottom: 20px; 
        }
    
}

 /* Media Query for low resolution  Tablets, Ipads */
 @media (min-width: 481px) and (max-width: 767px) {

    

    header.nav-container {
        flex-direction: column;
        
    }

    div.banner-container {
        width: 100%; 
        height: 300px;
        overflow: hidden;
        
    }
    
    .banner-container img {
        width: 80%;
        height: auto; 
        object-fit: cover;
        border-radius: 20px;
    }

    section.home {
        flex-direction: column; 
        text-align: center; 
    }

    div.banner-container {
        height: auto; 
        padding: 0; 
    }

    .profile {
        flex-direction: column; 
        text-align: center; 
    }

    .img-profile {
        order: 2; 
    }

    .profile-text {
        order: 1; 
        padding-top: 20px; 
    }

    .img-profile img {
        width: 100%; 
        max-width: 300px; 
        height: auto; 
        display: block; 
        margin: 0 auto; 
    }


    .portofolio-text {
        font-size: 1.5em; 
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center; 
        margin: 0; 
    }

    .img-portofolio {
        margin-bottom: 20px; 
    }
}



/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    header.nav-container {
        flex-direction: column;
    }

    div.banner-container {
        width: 100%; 
        height: 300px;
        overflow: hidden;
        
    }
    
    .banner-container img {
        width: 80%;
        height: auto; 
        object-fit: cover;
        border-radius: 20px;
    }

    section.home {
        flex-direction: column; 
        text-align: center; 
    }

    div.banner-container {
        height: auto; 
        padding: 0; 
    }

    
    .img-profile img {
        width: 100%; 
        max-width: 300px; 
        height: auto; 
        display: block; 
        margin: 0 auto; 
    }

    .portofolio-text {
        font-size: 1.5em; 
    }

    .content-wrapper {
        flex-direction: column; 
        align-items: center; 
        margin: 0; 
    }

    .img-portofolio {
        margin-bottom: 20px; 
    }

}

@media (min-width: 1025px) and (max-width: 1280px) {
    
    div.banner-container {
        width: 100%; 
        height: 300px;
        overflow: hidden;
        
    }
    
    .banner-container img {
        width: 80%;
        height: auto; 
        object-fit: cover;
        border-radius: 20px;
    }

    section.home {
        flex-direction: column; 
        text-align: center; 
    }

    div.banner-container {
        height: auto; 
        padding: 0; 
    }

    
}
